.wrapper {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 400px;
  position: relative;
}
.playBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: black;
  color: white;
  border-radius: 50%;
  font-size: 21px;
  cursor: pointer;
}
.score {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: black;
  color: white;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}
.card {
  width: 50%;
  height: 30vh;
  box-sizing: border-box;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.flash {
  opacity: 50%;
  border: 5px solid black;
}
.header {
  height: 10vh;
  background-color: teal;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 10vh;
  font-weight: 700;
  color: white;
  width: 100%;
}
